In [1]:
pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in c:\users\bharath.g\appdata\roaming\python\python39\site-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\bharath.g\appdata\roaming\python\python39\site-packages (from pymongo) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pymongo import MongoClient

In [3]:
client=MongoClient('mongodb://localhost:27017')

In [4]:
client.test

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

In [5]:
db=client['Telephone']

In [6]:
#inserted collection
my_col3=db['Data']

In [7]:
#inserted document
my_col3.insert_one({'Name':'Devraj','Phone_Number':8957125242,'Place':'Chennai'})

In [8]:
client.list_database_names()

['Students2',
 'Telephone',
 'Telephone_Directory',
 'admin',
 'config',
 'details',
 'local',
 'student1']

In [10]:
db.list_collection_names()

['Data']

In [14]:
#inserted list of documents

details=[{'Name':'Bharath','Phone_Number':8574562515,'Place':'Bangalore'},{'Name':'Koushik','Phone_Number':8571152585,'Place':'Mangalore'},{'Name':'Karthik','Phone_Number':8527451255,'Place':'Mysore'}]
my_col3.insert_many(details)

In [16]:
#Retrive the data
for i in my_col3.find():
    print(i)

{'_id': ObjectId('63847969567edd754bc370b5'), 'Name': 'Devraj', 'Phone_Number': 8957125242, 'Place': 'Chennai'}
{'_id': ObjectId('63847d83567edd754bc370b6'), 'Name': 'Bharath', 'Phone_Number': 8574562515, 'Place': 'Bangalore'}
{'_id': ObjectId('63847d83567edd754bc370b7'), 'Name': 'Koushik', 'Phone_Number': 8571152585, 'Place': 'Mangalore'}
{'_id': ObjectId('63847d83567edd754bc370b8'), 'Name': 'Karthik', 'Phone_Number': 8527451255, 'Place': 'Mysore'}

In [17]:
#update the data
my_col3.update_one({'Phone_Number':8957125242},{'$set':{'Phone_Number':9857264215}})

In [21]:
for i in my_col3.find({'Phone_Number': 9857264215}):
    print(i)

{'_id': ObjectId('63847969567edd754bc370b5'), 'Name': 'Devraj', 'Phone_Number': 9857264215, 'Place': 'Chennai'}

In [22]:
#deleted data
my_col3.delete_one({'Phone_Number': 8571152585})

In [23]:
for i in my_col3.find():
    print(i)

{'_id': ObjectId('63847969567edd754bc370b5'), 'Name': 'Devraj', 'Phone_Number': 9857264215, 'Place': 'Chennai'}
{'_id': ObjectId('63847d83567edd754bc370b6'), 'Name': 'Bharath', 'Phone_Number': 8574562515, 'Place': 'Bangalore'}
{'_id': ObjectId('63847d83567edd754bc370b8'), 'Name': 'Karthik', 'Phone_Number': 8527451255, 'Place': 'Mysore'}